@use "@styles/breakpoint";
@use "@styles/color";
@use "@styles/space";
@use "@styles/font";

.filtersBar {
  display: flex;
  flex-direction: column-reverse;
  gap: space.$s4;
  margin-bottom: space.$s6;

  @media (min-width: breakpoint.$desktop) {
    flex-direction: row;
  }
}

.filters {
  display: flex;
  flex-direction: column;
  gap: space.$s4;

  @media (min-width: breakpoint.$desktop) {
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
  }
}

.select {
  display: flex;
  width: 100%;

  @media (min-width: breakpoint.$desktop) {
    width: 10rem;
    height: 2.75rem;
    justify-content: start;

    // Dropdown needs to be over the issues table in desktop mode
    z-index: 1;
  }
}

.input {
  display: flex;
  width: 100%;

  @media (min-width: breakpoint.$desktop) {
    width: 17.5rem;
    justify-content: start;
  }
}
