@use "@styles/color";
@use "@styles/font";
@use "@styles/space";

.alertBox {
  display: flex;
  padding: 1rem;
  align-items: center;
  gap: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid color.$error-300;
  background: color.$error-25;
}

.errorMsg {
  flex: 1;
  color: color.$error-700;
  font: font.$text-sm-medium;
}
