@use "@styles/breakpoint";
@use "@styles/space";

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: space.$s6;

  /* reset list styles */
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: breakpoint.$desktop) {
    grid-template-columns: repeat(auto-fit, 400px);
  }
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 21.75rem;

  @media (min-width: breakpoint.$desktop) {
    height: 15.75rem;
  }
}

.loadingIndicator {
  height: 64px;
  width: 64px;
  animation: rotation 1s linear infinite;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
